TINA_CLIENT_ID=8bf061fe-9641-4eaa-8f6d-81c4d147daf8
TINA_TOKEN=d217d5cfe5e7351ce35dacd09fc895ba5e1926a3
NEXT_PUBLIC_TINA_CLIENT_ID=8bf061fe-9641-4eaa-8f6d-81c4d147daf8

TINA_SELF_HOSTED_AUTH=false
TINA_PUBLIC_IS_LOCAL=true

GITHUB_BRANCH=main
